body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
}
header, footer {
    background: linear-gradient(to right, #007BFF, #00CFFF);
    color: white;
    padding: 20px 0;
}
.content {
    display: flex;
    margin-top: 20px;
}
.main {
    flex: 3;
    margin-right: 20px;
}
.sidebar {
    flex: 1;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
}
.sidebar ul li a {
    text-decoration: none;
    color: #007BFF;
}
.sidebar ul li a:hover {
    text-decoration: underline;
}
.floated-image {
    float: left;
    margin-right: 15px;
    width: 30%;
}
/* -product_____________ */
